<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/6b2dd29c8e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>BOOLZAPP</title>
</head>
<body class="debug">
    <div id="app">
        <div class="container row">
            <aside class="col-aside display-none">
                <div class="user flex display-none">
                    <img src="./img/avatar_io.jpg" alt="">
                    <ul class="cta flex">
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-circle-notch"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-message"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="message-blue flex">
                    <div class="bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notification">
                        <p class="notification-title">
                            <strong>
                                Ricevi notifiche di nuovi messaggi
                            </strong>
                        </p>
                        <a class="alone" href="#">Attiva notifiche deckstop</a>
                    </div>
                </div>

                <div class="serch-container">
                    <div class="magnifying display-none">
                        <a href="#">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <input class="serch-friends-area" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                


                <!-- FRIENDS -->
                <ul class="friends">
                    <li class="friend slide-in-left" v-for="(contact, i) in contacts" @click="currentUser = i">
                        <div class="friend__img">
                            <img :src="contact.avatar" :alt="contact.name">
                        </div>
                        <div class="friend__info display-none">
                              <p><strong>{{contact.name}}</strong></p>
                              <div>
                                  <p class="sub__info">Lorem ipsum dolor sit amet.</p> 
                              </div> 
                        </div>
                        <div class="list-time display-none">16.15</div>
                    </li>

                    <!-- <li class="friend slide-in-left_S">
                        <div class="friend__img">
                            <img src="./img/avatar_2.jpg" alt="">
                        </div>
                        <div class="friend__info display-none">
                            <p><strong>Fabio</strong></p> 
                            <p class="sub__info">Lorem ipsum dolor sit amet.</p> 
                      </div>
                      <div class="list-time display-none">16.05</div>
                    </li>
                    <li class="friend slide-in-left_S">
                        <div class="friend__img">
                            <img src="./img/avatar_3.jpg" alt="">
                        </div>
                        <div class="friend__info display-none">
                            <p><strong>Samuele</strong></p> 
                            <p class="sub__info">Lorem ipsum dolor sit amet.</p> 
                      </div>
                      <div class="list-time display-none">16.03</div>
                    </li>
                    <li class="friend slide-in-left_S">
                        <div class="friend__img">
                            <img src="./img/avatar_4.jpg" alt="">
                        </div>
                        <div class="friend__info display-none">
                            <p><strong>Alessandro B.</strong></p> 
                            <p class="sub__info">Lorem ipsum dolor sit amet.</p> 
                      </div>
                      <div class="list-time display-none">15:50</div>
                    </li>
                    <li class="friend slide-in-left_S">
                        <div class="friend__img">
                            <img src="./img/avatar_5.jpg" alt="">
                        </div>
                        <div class="friend__info display-none">
                            <p><strong>Alessandro L.</strong></p> 
                            <p class="sub__info">Lorem ipsum dolor sit amet.</p> 
                      </div>
                      <div class="list-time display-none">15:45</div>
                    </li>
                    <li class="friend slide-in-left_S">
                        <div class="friend__img">
                            <img src="./img/avatar_6.jpg" alt="">
                        </div>
                        <div class="friend__info display-none">
                            <p><strong>Claudia</strong></p> 
                            <p class="sub__info">Lorem ipsum dolor sit amet.</p> 
                      </div>
                      <div class="list-time display-none">15:40</div>
                    </li>
                    <li class="friend slide-in-left_S">
                        <div class="friend__img">
                            <img src="./img/avatar_7.jpg" alt="">
                        </div>
                        <div class="friend__info display-none">
                            <p><strong>Federico</strong></p> 
                            <p class="sub__info">Lorem ipsum dolor sit amet.</p> 
                      </div>
                      <div class="list-time display-none">15:22</div>
                    </li>
                    <li class="friend slide-in-left_S">
                        <div class="friend__img">
                            <img src="./img/avatar_8.jpg" alt="">
                        </div>
                        <div class="friend__info display-none">
                            <p><strong>Davide</strong></p> 
                            <p class="sub__info">Lorem ipsum dolor sit amet.</p> 
                      </div>
                      <div class="list-time display-none">15:15</div>
                    </li> -->
                </ul>
            </aside>

            <div class="col12 flex-column">
                <div class="col__header flex">
                    <div class="contact flex">
                        <div class="contact__img">
                            <img :src="contacts[currentUser].avatar" alt="">
                        </div>
                        <div class="contact__info">
                            <h3>{{contacts[currentUser].name}}</h3>
                            <p class="last-access">Ultimo accesso oggi alle 16:26</p class="Last Access">
                        </div>
                    </div>
                    <div class="menu display-none">
                        <ul class="flex">
                            <li class="menu__items">
                                <a href="#">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </li>
                            <li class="menu__items">
                                <a href="#">
                                    <i class="fa-solid fa-paperclip"></i>
                                </a>
                            </li>
                            <li class="menu__items">
                                <a href="#">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- MAIN CHAT   -->
                
                <div class="col__body flex-column">
                    <div :class="message.status" class="box-message align-self slide-in-right" v-for="(message, i) in contacts[currentUser].messages">
                        <p class="message" >
                            {{message.message}}
                        </p>
                        <p class="clock__time">{{message.date.slice(11,16)}}</p>
                    </div>

                    <!-- <div class="box-message received slide-in-left" v-for="(message, i) in contacts[currentUser].messages">
                        <p class="message" >
                            {{message.message}}
                        </p>
                        <p class="clock__time">16:13</p>
                    </div> -->
                </div>

                <div class="col__footer flex">
                    <div class="emoji display-none">
                        <a href="#">
                            <i class="fa-regular fa-face-smile">
                            </i>
                                
                        </a>
                    </div>
                    <input class="type__here" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="newInsertMessage()">
                    <div class="send__audio display-none">
                        <a href="#">
                            <i class="fa-solid fa-microphone">
                            </i>
                        </a>
                    </div>
                </div>

            </div>
            
        </div>
    </div>


    <script src="./js/app.js"></script>
</body>
</html>